<section id="navbar">
    <nav class="navbar navbar-expand-md rounded">
      <div class="container-fluid">
         
        <!--boton hamburguesa--> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbar-toggler">
              
          <!--imagen boton y link a pagina Argentina Programa"--> 
          <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar" target="_blank">
            <img class="logoArgProg"
            src="./assets/img/aplogo.png" 
            alt="logo de Argentina Programa"
            width="180"
            />
          </a>
          
          <button class="btn seccion" (click)="muestra()">Mostrar/Ocultar</button>

          <ul class="navbar-nav d-flex justify-content-center align-items-center">
            <!--lista redes-->
            <div *ngFor="let red of redesList"> 
              <li class="nav-item">
                <a class="nav-link" [href]="red.urlRed" target="_blank">
                  <i [ngClass]="red.icoFont"></i></a>
                </li>
              </div>

            <!-- links internos a la pagina   --> 
            <li class="nav-item"><a class="nav-link" aria-current="page" href="#sobre-mi">Sobre mí</a></li>
            <li class="nav-item"><a class="nav-link" href="#habilidades">Habilidades</a></li>
            <li class="nav-item"><a class="nav-link" href="#proyectos">Proyectos</a></li>
            <li class="nav-item"><a class="nav-link" href="#contactame">Contacto</a></li>         
          </ul>
            
          <!-- Button Login modal -->
          
          <app-login *ngIf="!mostrar"></app-login>
          

          <!-- Button Logout modal -->

          <app-logout *ngIf="mostrar"></app-logout>
          

        </div>
      </div>
    </nav>

</section>
