<section id="navbar">
  <nav class="navbar navbar-expand-md rounded">
    <div class="container-fluid">
        
      <!--boton hamburguesa--> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbar-toggler">
            
        <!--imagen boton y link a pagina Argentina Programa"--> 
        <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar" target="_blank">
          <img class="logoArgProg"
          src="./assets/img/aplogo.png" 
          alt="logo de Argentina Programa"
          width="190"
          />
        </a>

        <ul class="navbar-nav d-flex justify-content-center align-items-center">
          <!--lista redes-->
          
          <div><app-redes></app-redes> </div>
          
          <!-- links internos a la pagina   --> 
          <li class="nav-item"><a class="nav-link" aria-current="page" href="#experiencia"><h5>Experiencia</h5></a></li>
          <li class="nav-item"><a class="nav-link" href="#habilidades"><h5>Habilidades</h5></a></li>
          <li class="nav-item"><a class="nav-link" href="#proyectos"><h5>Proyectos</h5></a></li>
          <li class="nav-item"><a class="nav-link" href="#contactame"><h5>Contacto</h5></a></li>         
        
        
          <!--PRUEBA LOGIN-->
        
           <!-- Button Logout  -->
        
        <!--ESTE ANDA PERFECTO : -->
          <li *ngIf="isLogged, else elseBlock" class="nav-item">
            <button type="button" class="btn btn-light" (click)="onlogout()"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión</button>
          </li>

          <!--li *ngIf="isLogged, else elseBlock" class="nav-item">
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#logoutModal" (click)="onlogout()"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión</button>
          </li-->
                 

          <ng-template #elseBlock>

          <!-- Button Login -->
          <!--ESTE ANDA PERFECTO : -->
            <!--li class="nav-item">
              <button type="button" class="btn btn-light" (click)="onlogin()"><i class="fa-solid fa-right-to-bracket"></i> Iniciar sesión</button>
            </li-->

            <li class="nav-item">
              <button type="button" class="btn btn-light"  data-bs-toggle="modal" data-bs-target="#loginModal" ><i class="fa-solid fa-right-to-bracket"></i> Iniciar sesión</button>
            </li> <!--(click)="onlogin()"-->

          </ng-template>
        
        
        </ul>
      
        
       
                

        <app-modal-login></app-modal-login>
        <app-modal-logout></app-modal-logout>

      </div>
    </div>
  </nav>

</section>
