<footer>
    
  <div id="contactame" class="links-redes-pie d-flex flex-column align-items-center justify-content-center">
   

    <p class="footer-texto text-center">Contactame</p> 
    
    <app-redes></app-redes>
  </div>
  
  <!-- CONTACTO --> 

  <app-domicilio></app-domicilio>
  

  <!--segunda instancia de link a contenido interno-->
  <div class="links-internos-pie d-flex flex-column align-items-center justify-content-center">
    <ul class="list-group list-group-horizontal align-items-center">             
      <a class="linkFooter" href="#sobre-mi">Sobre mí</a>
      <a class="linkFooter" href="#experiencia">Experiencia</a>
      <a class="linkFooter" href="#habilidades">Habilidades</a>
      <a class="linkFooter" href="#proyectos">Proyectos</a> 
    </ul>
  </div>

  <div class="derechos-de-autor d-flex flex-column align-items-center justify-content-center bg-white p-2">Creado por Cecilia Beuret (2023) &#169;</div>  

  <app-modal-redes></app-modal-redes>
  
</footer>
