<footer>
    
  <div id="contactame" class="links-redes-pie d-flex flex-column align-items-center justify-content-center">
   

    <p class="footer-texto text-center">Contactame</p>
    <app-redes></app-redes>
  </div>
  
  <!-- CONTACTO --> 
  <app-contacto></app-contacto>

  <!--segunda instancia de link a contenido interno-->
  <div class="links-internos-pie d-flex flex-column align-items-center justify-content-center">
    <ul class="list-group list-group-horizontal align-items-center">             
      <a class="linkFooter" href="#sobre-mi">Sobre mí</a>
      <a class="linkFooter" href="#experiencia">Experiencia</a>
      <a class="linkFooter" href="#habilidades">Habilidades</a>
      <a class="linkFooter" href="#proyectos">Proyectos</a> 
    </ul>
  </div>

  <div class="derechos-de-autor d-flex flex-column align-items-center justify-content-center">Creado por Cecilia Beuret (2023) &#169;</div>  

  <section id="editContacto" class="bg-dark p-4">  <!-- Modificar CONTACTO -->  
    <h6 style="color: aliceblue;">Modificar contacto </h6>
    <div class="btn-group" role="group" aria-label="editContacto">
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editContactoModal"><i class="fa-sharp fa-solid fa-pen"></i></button>
      <button type="button" class="btn btn-light" data-bs-toggle="tooltip" title="Delete"><i class="fa-solid fa-trash"></i></button>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addContactoModal"><i class="fa-solid fa-plus"></i></button>
    </div>    
  </section>

  <app-modal-redes></app-modal-redes>
  <app-modal-contacto></app-modal-contacto>
</footer>
