 <!-- Boton Editar EXPERIENCIA Modal-->
<div class="modal fade" *ngIf="expe" id="editExpModal" tabindex="-1" aria-labelledby="editExpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editExpModalLabel">Editar experiencia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrar()"></button>
      </div>
        
      <!--formulario de EXPERIENCIA-->  
      <form [formGroup]="form" (ngSubmit)="onEnviar($event)" name="experienciaFormEdit">             
        <!--form [formGroup]="form" (ngSubmit)="form.valid && onCreate()" name="experienciaForm"-->       
        <div class="modal-body"> 
          <!-- creo q al poner el ngIf de línea 2 no haría falta
          <div> 
            <input type="hidden" formControlName="id" [(ngModel)]="expe.id" id="">
          </div> 
        -->           
          <div class="mb-3">
            <label for="inputEmpresa" class="form-label">Modificar Empresa</label>
            <input class="form-control" type="text" placeholder="inserte nombre de la empresa" id="inputEmpresa" 
            name="inputEmpresa" formControlName="empresa" [(ngModel)]="expe.empresa" 
            [ngClass]="{'is-invalid': Empresa?.errors && Empresa?.touched, 'is-valid': !Empresa?.errors && Empresa?.touched}"> <!--required-->  
            <div *ngIf="Empresa?.errors && Empresa?.touched">
              <p *ngIf="Empresa?.hasError('required')" class="text-danger">
                El nombre de la empresa es un dato requerido.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="logoEmpresa" class="form-label">Modificar logo de Empresa</label>
            <input class="form-control" type="url" placeholder="inserte url del logo" id="logoEmpresa" name="logoEmpresa" 
            formControlName="logo" [(ngModel)]="expe.logo">             
          </div>
          <div class="mb-3">
            <label for="urlEmpresa" class="form-label">Modificar url de Empresa</label>
            <input class="form-control" type="url" placeholder="inserte url de empresa" id="urlEmpresa" name="urlEmpresa"
            formControlName="empresa" [(ngModel)]="expe.empresa">             
          </div>
          <div class="mb-3">
            <label for="inputCargo" class="form-label">Modificar Cargo</label>
            <input class="form-control" type="text" placeholder="inserte cargo" id="inputCargo" name="inputCargo"
            formControlName="cargo" [(ngModel)]="expe.cargo"
            [ngClass]="{'is-invalid': Cargo?.errors && Cargo?.touched, 'is-valid': ! Cargo?.errors && Cargo?.touched}"> 
              <div *ngIf="Cargo?.errors && Cargo?.touched">
                <p *ngIf="Cargo?.hasError('required')" class="text-danger">
                  El cargo es un dato requerido.
                </p>
              </div> >               
          </div>
          <div class="mb-3">
            <label for="experienciaInfo" class="form-label">Modificar descripción de puesto</label>
            <textarea class="form-control" id="experienciaInfo" rows="3" formControlName="descPuesto" [(ngModel)]="expe.descPuesto"></textarea>               
          </div>
          <div class="mb-3">
            <label for="experienciaFechaInicio" class="form-label">Modificar Fecha de Inicio</label>
            <input type="date" class="form-control" id="experienciaFechaInicio" formControlName="inicio" [(ngModel)]="expe.inicio">
          </div>
          <div class="mb-3">
            <label for="experienciaFechaFin" class="form-label"> Modificar Fecha de Fin</label>
            <input type="date" class="form-control" id="experienciaFechaFin" formControlName="fin" [(ngModel)]="expe.fin">
          </div>
          <div>
            <input type="hidden" formControlName="personaid" [(ngModel)]="expe.personaid" id="">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiar()">Limpiar</button>
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
          
        
      </form>
       
    </div>
  </div>
</div> 
