<!-- REDES  SOCIALES-->


<!-- BOTÓN EDITAR redes--> 
<div class="col-1" *ngIf="isLogged">    
  <button type="button" class="btn btn-light editBanner" data-bs-toggle="modal" data-bs-target="#editRedesModal"><i class="fa-sharp fa-solid fa-pen"></i></button>
</div>

<!-- LISTADO REDES  SOCIALES-->
<div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
   <div *ngFor="let red of redesList">
    <a class="nav-link" [href]="red.url" target="_blank" rel="noopener noreferrer"><span><i [ngClass]="red.span"></i></span>
    </a>
  </div>  
</div>

<app-modal-redes></app-modal-redes>
