    <!-- SOBRE MI --> 
    <section id="sobre-mi" class="sobre-mi text-white" *ngFor="let persona of personasList">    
      
      <div class="acercaDe container-fluid text-center rounded shadow-sm mb-5 bg-body-transparent p-0"> 
        <!-- Banner--> 
        <!--img [src]="bannerVar"--> 
        <img [src]="persona.banner" 
        alt="imagenBanner" width="100%" height="350vh" class="rounded-top-banner"> <!--[alt]="altBannerVar"-->
        
        <!-- BOTÓN EDITAR banner-->  
        <!--button type="button" class="btn btn-light editBanner" data-bs-toggle="modal" data-bs-target="#imgBannerModal"><i class="fa-sharp fa-solid fa-pen"></i></button-->
      
      <!-- mi foto-->         
        <div class="row p-3">
          <div class="col-3">
            <!--img [src]="imagenPerfilVar"--> <img [src]="persona.imagen" class="miFoto rounded-circle" width=200 height=auto 
            alt="imagenPerfil"> <!--[alt]="altImgPerfilVar"-->
            
            <!-- BOTÓN EDITAR foto perfil-->  
            <!--button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#imgPerfilModal"><i class="fa-sharp fa-solid fa-pen"></i></button-->

            <br>
            <h2 class="nombrePerfil">{{persona.nombre}} {{persona.apellido}}</h2>
            
          </div>
  
          <div class="col-7 text-center">
            <button class="btn btn-light titulo">{{persona.especialidad1}}</button>
            <button class="btn btn-light titulo">{{persona.especialidad2}}</button>
            <p>  </p>     
            <h3 style="font-style: italic;">mi perfil ...</h3>
            <h6 class="sobreMiPerfil">{{persona.sobreMi}}</h6>
          </div>  
          
          <div class="col-2">
            <div class="btn-group" role="group" aria-label="editarPerfil" *ngIf="isLogged"> 
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editPerfilModal">Editar Perfil</button> <!--Modificar Perfil-->
              <br>
              <!--button type="button" class="btn btn-light" data-bs-toggle="tooltip" title="Delete"><i class="fa-solid fa-trash"></i></button--><!--Eliminar Perfil-->
            </div>    
          </div>  

        </div>
      
      </div>
    </section>
    
    <!--app-modal-banner></app-modal-banner-->
    <!--app-modal-foto-perfil></app-modal-foto-perfil-->
    <app-modal-datos-perfil></app-modal-datos-perfil>


