<header class="container-fluid">
      
    <!-- Barra de navegacion-->

    <app-navbar></app-navbar>
    
  
    <br>
  
    <!-- SOBRE MI --> 
    <section id="sobre-mi" class="sobre-mi text-white">    
      
      <div class="acercaDe container-fluid text-center rounded shadow-sm mb-5 bg-body-transparent p-0"> 
        <!-- Banner--> 
        <img [src]="bannerVar" 
        [alt]="altBannerVar" width="100%" height="500vh" class="rounded-top-banner">
        
        <!-- BOTÓN EDITAR banner-->  
        <button type="button" class="btn btn-light editBanner" data-bs-toggle="modal" data-bs-target="#imgBannerModal"><i class="fa-sharp fa-solid fa-pen"></i></button>
      
      <!-- mi foto-->         
        <div class="row p-3">
          <div class="col-3">
            <img [src]="imagenPerfilVar" class="miFoto rounded-circle" width=200 height=auto 
            [alt]="altImgPerfilVar">
            
            <!-- BOTÓN EDITAR foto perfil-->  
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#imgPerfilModal"><i class="fa-sharp fa-solid fa-pen"></i></button>

            <br>
            <h2 class="nombrePerfil">{{nombresVar}}{{apellidosVar}}</h2>
            
          </div>
  
          <div class="col-8 text-center">
            <button class="btn btn-light titulo">{{especialidad1Var}}</button>
            <button class="btn btn-light titulo">{{especialidad2Var}}</button>
            <p>  </p>     
            <h3 style="font-style: italic;">mi perfil ...</h3>
            <h6 class="sobreMiPerfil">{{sobreMiVar}}</h6>
          </div>  
          
          <div class="col-1">
            <div class="btn-group" role="group" aria-label="editarPerfil"> 
              <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editPerfilModal"><i class="fa-sharp fa-solid fa-pen"></i></button> <!--Modificar Perfil-->
              <br>
              <button type="button" class="btn btn-light" data-bs-toggle="tooltip" title="Delete"><i class="fa-solid fa-trash"></i></button><!--Eliminar Perfil-->
            </div>    
          </div>  

        </div>
      
      </div>
    </section>
    
    <app-modal-banner></app-modal-banner>
    <app-modal-foto-perfil></app-modal-foto-perfil>
    <app-modal-datos-perfil></app-modal-datos-perfil>

  </header>
