<section id="educacion"> 
    <div class="carrera container-fluid rounded shadow-sm mb-5 bg-body-transparent p-0">
      <div class="row p-3">
        <h2 class="text mt-4 pb-8">Educación</h2>
            
        <article class="row" *ngFor="let educacion of educacionesVar"> <!-- EXPERIENCIAS -->
          <div class="col-2">
            <a href="educacion.url" target="_blank"><img [src]= "educacion.logoInstitucion" 
              alt="logo UNSAM"
              width="100%">
            </a>
            <h6 style="text-align: center;">{{educacion.inicio}} / {{educacion.fin}}</h6>

          </div>
          <div class="col-9">
            <h3>{{educacion.universidad}}</h3>
            <h5>{{educacion.titulo}}</h5>
            <p>{{educacion.descripcion}}</p>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-light" data-bs-target="#editPerfil"><i class="fa-sharp fa-solid fa-pen"></i></button> <!-- Editar-->
            <br>
            <button type="button" class="btn btn-light"><i class="fa-solid fa-trash"></i></button> <!-- Eliminar-->
          </div>
        </article>
      
      </div>
    </div>
  </section>
