<section id="educacion"> 
    <div class="carrera container-fluid rounded shadow-sm mb-5 bg-body-transparent p-0">
      <div class="row p-3">
        <h2 class="text mt-4 pb-8">Educación</h2>
            
        <article class="row"> <!-- UNSAM -->
          <div class="col-2">
                <a href="https://www.unsam.edu.ar/institutos/3ia/140/3ia/gestion-ambiental" target="_blank">
                  <img src="./assets/img/logo_UNSAM.png" 
                  alt="logo UNSAM"
                  width="100%">
                </a>
          </div>
          <div class="col-9">
              <h3>UNIVERSIDAD NACIONAL DE SAN MARTÍN</h3>
              <h5>Maestría en Gestión Ambiental</h5>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti impedit accusamus asperiores tempora perferendis magni dolorum, perspiciatis aliquid at consequatur qui consectetur quod dignissimos et corporis modi. Iure, sed facilis?</p>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-light" data-bs-target="#editPerfil"><i class="fa-sharp fa-solid fa-pen"></i></button> <!-- Editar-->
            <br>
            <button type="button" class="btn btn-light"><i class="fa-solid fa-trash"></i></button> <!-- Eliminar-->
          </div>
        </article>
            
        <article class="row"> <!-- UNSL-LIC -->
          <div class="col-2">
            <a href="https://carreras.unsl.edu.ar/carreras/lic-cs-bio" target="_blank">
              <img src="./assets/img/isologo-unsl-dos-lineas.png" 
              alt="logo UNSL-FQBYF"
              width="120%"
              >
            </a>
          </div>
          <div class="col-9">
              <h3>UNIVERSIDAD NACIONAL DE SAN LUIS</h3>
              <h5>Licenciatura en Ciencias Biológicas</h5>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis deserunt cumque, nobis veniam laboriosam dolores accusamus exercitationem praesentium maxime nesciunt, maiores sunt minus voluptates! Dolor esse harum tempore culpa eum.</p>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-light" data-bs-target="#editPerfil"><i class="fa-sharp fa-solid fa-pen"></i></button> <!-- Editar-->
            <br>
            <button type="button" class="btn btn-light"><i class="fa-solid fa-trash"></i></button> <!-- Eliminar-->
          </div>
        </article>
            
        <article class="row"> <!-- UNSL-PROF -->
          <div class="col-2">
            <a href="https://carreras.unsl.edu.ar/carreras/prof-bio" target="_blank">
              <img src="./assets/img/isologo-unsl-dos-lineas.png" 
              alt="logo UNSL-FQBYF"
              width="120%"
              >
            </a>
          </div>  
          <div class="col-9">
            <h3>UNIVERSIDAD NACIONAL DE SAN LUIS</h3>
            <h5>Profesorado Universitario en Biología</h5>
            <p>descripción</p>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-light" data-bs-target="#editPerfil"><i class="fa-sharp fa-solid fa-pen"></i></button> <!-- Editar-->
              <br>
              <button type="button" class="btn btn-light"><i class="fa-solid fa-trash"></i></button> <!-- Eliminar-->
            </div>
        </article>
      </div>
    </div>
  </section>
