/* You can add global styles to this file, and also import other style files */

/* si tengo un fondo para al dasword y otro para el body del pofolio este estilo no iria aca*/
body{
    background-image: url(/assets/img/cielovertical_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
}

