<section id="proyectos"> 
  <div class="carrera container-fluid rounded shadow-sm mb-5 bg-body-transparent p-0">
    <div class="row p-3">
      
      <h2 class="text mt-4 pb-3">Proyectos</h2>

      <!-- Modificar PROYECTOS -->        
      <article id="editProyectos" class="bg-dark p-2">  
        <div class="btn-group" role="group" aria-label="editarProyectos">
          <!--button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editProyModal"><i class="fa-sharp fa-solid fa-pen"></i></button-->
          <!--button type="button" class="btn btn-light" data-bs-toggle="tooltip" title="Delete"><i class="fa-solid fa-trash"></i></button-->
          <button type="submit" *ngIf="" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addProyModal"><i class="fa-solid fa-plus"></i> AGREGAR PROYECTO </button> <!-- Agregar-->
        </div>    
      </article>
      
      <!-- PROYECTOS -->
      <article class="row p-3" *ngFor="let proyecto of proyectosList"> 
        <div class="col-2 d-flex flex-column align-items-center justify-content-center">
          <a [href]="proyecto.url" target="_blank">
            <img id="logoArgProg" [src]="proyecto.imagen" 
            alt="imagenProyecto"
            width="180rem">
          </a>
        </div>
        <div class="col-9">
            <h3>{{proyecto.tituloProyecto}}</h3>
            <h5>{{proyecto.destinatario}}</h5>
            <h6>{{proyecto.periodoDesarrollo}}</h6>
            <p>{{proyecto.descProyecto}}</p>
        </div>
        <div class="col-1">
          <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editProyModal"><i class="fa-sharp fa-solid fa-pen"></i></button> <!-- Editar-->
          <br>
          <button type="button" class="btn btn-light"><i class="fa-solid fa-trash"></i></button> 
        </div>
      </article> 
    
    </div>
  </div>
</section>

<app-modal-proyectos></app-modal-proyectos>