<section id="proyectos"> 
    <div class="carrera container-fluid rounded shadow-sm mb-5 bg-body-transparent p-0">
      <div class="row p-3">
    
        <div id="proyectos">
          <h2 class="text mt-4 pb-3">Proyectos</h2>
          <article class="row" *ngFor="let proyecto of proyectosVar"> <!-- PROYECTOS -->
            <div class="col-2">
              <a [href]="proyecto.linkProyecto" target="_blank">
                <img id="logoArgProg" [src]="proyecto.imagenProyecto" [alt]="proyecto.alt"
                width="100%">
              </a>
            </div>
            <div class="col-9">
                <h3>{{proyecto.titulo}}</h3>
                <h5>{{proyecto.institucion}}</h5>
                <h6>{{proyecto.fecha}}</h6>
                <p>{{proyecto.descProyecto}}</p>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-light" data-bs-target="#editPerfil"><i class="fa-sharp fa-solid fa-pen"></i></button> <!-- Editar-->
              <br>
              <button type="button" class="btn btn-light"><i class="fa-solid fa-trash"></i></button> <!-- Eliminar-->
            </div>
          </article>
        </div>
      
      </div>
    </div>
  </section>
