<section id="proyectos"> 
    <div class="carrera container-fluid rounded shadow-sm mb-5 bg-body-transparent p-0">
      <div class="row p-3">
    
        <div id="proyectos">
          <h2 class="text mt-4 pb-3">Proyectos</h2>
          <article class="row"> <!-- ARGENTINA PROGRAMA -->
            <div class="col-2">
              <a href="https://argentinaprograma.inti.gob.ar" target="_blank">
                <img id="logoArgProg" src="./assets/img/aplogo.png" alt="logo Argentina Programa"
                width="100%">
              </a>
            </div>
            <div class="col-9">
                <h3>ARGENTINA PROGRAMA</h3>
                <h5>Armado de porfolio</h5>
                <h5>2022-2023</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti impedit accusamus asperiores tempora perferendis magni dolorum, perspiciatis aliquid at consequatur qui consectetur quod dignissimos et corporis modi. Iure, sed facilis?</p>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-light" data-bs-target="#editPerfil"><i class="fa-sharp fa-solid fa-pen"></i></button> <!-- Editar-->
              <br>
              <button type="button" class="btn btn-light"><i class="fa-solid fa-trash"></i></button> <!-- Eliminar-->
            </div>
          </article>
        </div>
      
      </div>
    </div>
  </section>
