<section id="experiencia"> 
    <div class="carrera container-fluid rounded shadow-sm mb-5 bg-body-transparent p-0">    
      <div class="row p-3">
        <h2 class="text mt-4 pb-8">Experiencia Laboral</h2>
              
        <article class="row" *ngFor="let experiencia of experienciasVar"> <!-- ENRE -->
          <div class="col-2">
            <a [href]="experiencia.url" target="_blank">
              <img [src]="experiencia.logoEmpresa" 
              [alt]="experiencia.alt"
              width="80%">                  
            </a>
            <p>{{experiencia.inicio}} / {{experiencia.fin}}</p>
          </div>
                        
          <div class="col-9">
            <h3>{{experiencia.empresa}}</h3>
            <h5>{{experiencia.cargo}}</h5>
            <p>{{experiencia.descripPuesto}}</p>
          </div>
          
          <div class="col-1">
            <button type="button" class="btn btn-light" data-bs-target="#editPerfil"><i class="fa-sharp fa-solid fa-pen"></i></button> <!-- Editar-->
            <br>
            <button type="button" class="btn btn-light"><i class="fa-solid fa-trash"></i></button> <!-- Eliminar-->
          </div>  
          
        </article>

      </div>
    </div>
  </section>
