<section id="experiencia"> 
  <div class="carrera container-fluid rounded shadow-sm mb-5 bg-body-transparent p-0">    
    <div class="row p-3">
      
      <h2 class="text mt-4 pb-8">Experiencia Laboral</h2> 
      
      <!-- Modificar EXPERIENCIA -->  
      <div id="editExperiencia" class="bg-dark p-2">  
        <a href="#top"><button type="button" class="btn btn-outline-light"><i class="fa-solid fa-arrow-turn-up"></i></button></a>
        <div class="btn-group" role="group" aria-label="agregarExperiencia" >
          <!--button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editExpModal"><i class="fa-sharp fa-solid fa-pen"></i></button--> <!-- Editar-->
          <!--button type="submit" class="btn btn-light" data-bs-toggle="tooltip" title="Confirma que desea borrar"><i class="fa-solid fa-trash"></i></button-->
          <button type="submit" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addExpModal"><i class="fa-solid fa-plus"></i> AGREGAR EXPERIENCIA</button> <!-- Agregar-->
        </div> 
        
      </div>

      <!-- EXPERIENCIAS -->
      <div class="row p-3" *ngFor="let experiencia of experienciasList"> 
        <div class="col-2 d-flex flex-column align-items-center justify-content-center">
          <a [href]="experiencia.url" target="_blank">
            <img [src]="experiencia.logo" 
            alt="imagenLogoEmpresa"
            width="150rem"> <!--[alt]="experiencia.alt"-->
          </a>
        </div>
       
        <div class="col-9">
          <h3>{{experiencia.empresa}}</h3>
          <h5>{{experiencia.cargo}}</h5>
          <h6>{{experiencia.inicio}} / {{experiencia.fin}}</h6>
          <p>{{experiencia.descPuesto}}</p>
        </div>  
        
        <div class="col-1" >
          <div class="btn-group" role="group" aria-label="editarExperiencia"> 
            <button type="button" class="btn btn-light" data-bs-toggler="modal" data-bs-target="#editExpModal">
              <i class="fa-sharp fa-solid fa-pen" ></i>
            </button> <!--Editar--> <!-- no sé si hace falta (click)="idEdit(experiencia.id_experiencia)-->
          
            <button type="button" class="btn btn-light" routerLink="/editarexpe"><i class="fa-sharp fa-solid fa-pen"></i></button> <!-- Editar-->
            <!--button type="button" class="btn btn-light" routerLink="editarexpe"><i class="fa-sharp fa-solid fa-pen"></i></button--> <!-- Editar-->
            
            <br>
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" title="Confirma que desea borrar" (click)="delete(experiencia.id_experiencia)">
              <i class="fa-solid fa-trash"></i>
            </button><!-- Eliminar-->
            <!--falta agregar luego de submit *ngIf="isLogged" o "modoEdit" -->
          </div>  
        </div> 
      </div>


    </div>
  </div>
</section>

 <!--*ngIf="isTrue"-->

<app-modal-experiencia></app-modal-experiencia>
<app-modal-experiencia-add></app-modal-experiencia-add>





