<section id="hobbies">
    <div class="carrera container-fluid rounded shadow-sm mb-5 bg-body-transparent p-0">
      <div class="row p-3">
        <div id="info-hobbies">
          <h2 class="text-center mt-4 pb-8">Hobbies</h2>
          <br>

          <div class="container text-center">
            <div class="row" >
              <div class="col-6 col-md-4" *ngFor="let hobbie of hobbiesList">
                <h1><span><i [ngClass]="hobbie.span"></i></span></h1>
                <h6>{{hobbie.descripcionHobbie}}</h6>
              </div>
            </div>
          </div>       
            
        </div>   
      </div>
    </div>
  </section>
