<!-- Boton Editar CONTACTO Modal-->
<div class="modal fade" id="editContactoModal" tabindex="-1" aria-labelledby="editContactoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editContactoModalLabel">Editar contacto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">             
          <form>
            <div class="mb-3">
              <label for="inputPhone" class="form-label">Teléfono</label>
              <input type="phone" class="form-control" id="inputPhone" aria-describedby="phoneHelp" name="telefono" placeholder="Ingrese el número telefónico">              
            </div>
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email" placeholder="Ingrese el correo electrónico" required>              
            </div>           

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>

          </form>
        </div> 

      </div>
    </div>
</div>