<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">             
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
          <div class="mb-3">
            <label for="email">Email:</label>
            <input type="email" formControlName="email" 
            [ngClass]="{'is-invalid':Mail?.errors && Mail?.touched, 
            'is-valid':!Mail?.errors && Mail?.touched}"
            class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
            placeholder="correo electronico" required--> <!--[class.border-danger]="MailInvalid"-->
            <!--Gracias al getter q configuramos en el controlador-->
            <div *ngIf="Mail?.errors && Mail?.touched">
              <p *ngIf="Mail?.hasError('required')" class="error">El mail es requerido</p>
              <p *ngIf="Mail?.hasError('email')" class="error">El formato del mail debe ser válido</p>
            </div>
          </div>
          
          <br>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
            <input type="password" formControlName="password"  
            [ngClass]="{'is-invalid':Password?.errors && Password?.touched, 
            'is-valid':!Password?.errors && Password?.touched}"
            class="form-control" id="exampleInputPassword1" placeholder="Contraseña" required--> <!--[class.border-danger]="PasswordInvalid"-->
            <!--Gracias al getter q configuramos en el controlador-->
            <div *ngIf="Password?.errors && Password?.touched">
              <p *ngIf="Password?.hasError('required')" class="error">La contraseña es requerida</p>
              <p *ngIf="Password?.errors?.['minlength']" class="error">La contraseña debe tener 8 o más caracteres</p>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          </div>
        </form>
        <!--<a routerLink="/">Volver</a>-->

      </div> 

      <!-- 
      <div class="modal-body">             
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">              
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </div>
        </form>
      </div> 
      -->

    </div>
  </div>
</div>
