<!-- Boton Editar REDES Modal-->
<div class="modal fade" id="editRedesModal" tabindex="-1" aria-labelledby="editRedesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editRedesModalLabel">Editar redes sociales</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">             
          <form>
            
            <div class="mb-3">
              <label for="inputEtiqueta" class="form-label">Nombre de la red social</label>
              <input type="text" class="form-control" id="inputProgreso" placeholder="ingrese el nombre de la red social">              
            </div>
            <div class="mb-3">
              <label for="inputIcono" class="form-label">Ícono o imagen</label>
              <input type="text" class="form-control" id="inputEtiqueta" placeholder="ingrese url o src de la imagen">              
              </div>
            <div class="mb-3">
              <label for="inputEtiqueta" class="form-label">Alt</label>
              <input type="text" class="form-control" id="inputProgreso" placeholder="ingrese una referncia para la imagen">              
            </div>
            <div class="mb-3">
              <label for="inputIcono" class="form-label">URL</label>
              <input type="text" class="form-control" id="inputEtiqueta" placeholder="ingrese la url de la red">              
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div> 

      </div>
    </div>
</div> 
