<section id="habilidades" > 
    <div class="carrera container-fluid rounded shadow-sm mb-5 bg-body-transparent p-0">
      <div class="row p-3">
        <div id="info-apt">
          <h2 class="text-center mt-4 pb-8">Habilidades</h2>
       
          <!-- Modificar HABILIDADES -->  
          <section id="editHabilidades" class="bg-dark p-2">  
            <a href="#top"><button type="button" class="btn btn-outline-light"><i class="fa-solid fa-arrow-turn-up"></i></button></a>
            <div class="btn-group" role="group" aria-label="editarHabilidades" *ngIf="isLogged">
              <!--button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editHabModal"><i class="fa-sharp fa-solid fa-pen"></i></button-->
              <!--button type="button" class="btn btn-light" data-bs-toggle="tooltip" title="Delete"><i class="fa-solid fa-trash"></i></button-->
              <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addHabModal"><i class="fa-solid fa-plus"></i>AGREGAR HABILIDAD</button> <!-- Agregar-->
            </div>    
          </section>

          <br>

          <div class="container text-center">
            <div class="row" >
              <div class="col-6 col-sm-3" *ngFor="let habilidad of habilidadesList">
                <div [ngClass]="habilidad.progreso" class="progress-circle">
                  <!--span>{{habilidad.porcentaje}}</span-->
                  <span><i [ngClass]="habilidad.span"></i></span>
                </div>
                <h5>{{habilidad.nombreHab}}</h5>
                <div *ngIf="isLogged">
                  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editHabModal"><i class="fa-sharp fa-solid fa-pen"></i></button> <!-- Editar-->
                  <button type="button" class="btn btn-light" (click)="delete(habilidad.id_habilidad)"><i class="fa-solid fa-trash"></i></button> 
                </div>
                
              </div> 
            </div>
          </div>
          
          <app-modal-habilidades></app-modal-habilidades> <!--MODAL HABILIDADES-->
          <app-modal-habilidades-add></app-modal-habilidades-add> <!--MODAL AGREGAR HABILIDADES-->
          <hr>

          <!-- apartado idiomas-->
          <app-idiomas></app-idiomas>

        </div>   
      </div>
    </div>
  </section>
